html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #d2002e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper {
  margin: 1rem auto;
  max-width: 120rem;
  background: #fafafa;
}

.page-title {
  font-weight: bold;
  margin: 0 0 2rem 0;
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}
